.footer {

    &__contact {

        & a {
            display: block;
            color: $dark;
            text-decoration: none;
            padding: 20px 0;

            &:hover {
                color: $light;
            }
        }
    }
}