.logo {
  width: 100%;
  max-width: 70px;
}

.home {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #fff, $alpha: 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.layout {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50vh;
  }

  &__heading {
    width: 100%;
    place-items: center;
    grid-column: 1 / 2;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba($color: $dark, $alpha: 0.8);

    @media (min-width: $tablet) {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      font-size: 5em;
    }
  }

  &__links--1 {
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;

    @media (min-width: $tablet) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
  }

  &__links--2 {
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;

    @media (min-width: $tablet) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }

  &__links--3 {
    width: 100%;
    height: 100%;
    grid-column: 1 / 2;

    @media (min-width: $tablet) {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }


  &__links--img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
  }
}
