.logo {
  width: 100%;
  max-width: 70px;
}

.home {
  width: 100%;
  height: 100%;
  background-color: rgba($color: #fff, $alpha: 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;

  display: grid;

  @media (min-width: $tablet) {
    height: 100vh;
  }

  &__heading {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
      text-transform: uppercase; 
      text-shadow: 1px 1px 5px rgba($color: $primary, $alpha: 0.8);
    }
  }

  &__links {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    
    @media (min-width: $tablet) {
      height: 50vh;
      grid-template-columns: repeat(3, 1fr);
      
    }

    &--item {
      height: inherit;
      margin: 0;
      width: inherit;
      
      & a img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
    }
  }
}