<footer class="footer mt-auto py-5 bg-dark bg-gradient">
    <div class="container">
        <div class="row justify-content-center">

            <form class="col-6 py-4">
                <h3 class="text-light fs-2 text-center">Envian's el teu missatge i opinió!</h3>
                <div class="mb-2">
                  <label for="exampleInputEmail1" class="form-label text-light">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="El teu email">
                </div>
                <div class="mb-2">
                    <label for="exampleFormControlTextarea1" class="form-label text-light">Message textarea</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="El teu missatge"></textarea>
                </div>
                <div class="mb-2 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label text-light" for="exampleCheck1">Estic d'acord amb la política de privacitat</label>
                </div>
                <button type="submit" class="btn btn-outline-secondary w-100">Som-hi!</button>
            </form>

        </div>
        <div class="footer__menu d-flex flex-column flex-md-row justify-content-between align-items-center py-3 m-0 border-top border-light ">
            <a class="navbar-brand" href="#">
                <img src="./assets/images/logo.png" alt="Logo Escacs" class="logo">
            </a>
            <div class="text-light fs-3">
                <ul class="navbar-nav d-flex flex-column flex-md-row gap-4">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="./about.html">Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./plays.html">Pràctica</a>
                    </li>
                </ul>
            </div>
            <div class="text-light">
                <ul class="navbar-nav d-flex flex-column flex-md-row gap-4">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-google"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">
                            <i class="bi bi-twitter"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="fs-6 py-3 m-0 border-top border-light text-light text-center">Developed by Jordi Sanchez &copy; 2023. HTML i CSS II Universitat Oberta de Catalunya</p>
    </div>
</footer>