@use "sass:color";

@font-face {
  font-family: Aino;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AinoWeb-Regular.woff") format('woff'),
}

@font-face {
  font-family: Aino;
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/AinoWeb-Bold.woff") format('woff'),
}

@font-face {
  font-family: Aino;
  font-style: bold;
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/AinoWeb-BoldItalic.woff") format('woff'),
}

@font-face {
  font-family: Aino;
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/AinoWeb-Italic.woff") format('woff'),
}

$font-family-reg: Aino, sans-serif;
$font-family-bold: Aino, sans-serif;

$primary: #0000f0;
$secondary: #00005a;
$info: #d3d3d6;
$light: #eee;
$dark: #222831;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "light": $light,
  "dark": $dark,
);

// Media queries

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

 // Rooting CARD component
 $card-height: 600px;

.card {
  --bs-card-height: $card-height;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
