@use "sass:color";

@font-face {
  font-family: Borna;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/webfontkit/borna-regular-webfont.ttf") format('truetype'),
}

@font-face {
  font-family: Borna;
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/webfontkit/borna-bold-webfont.ttf") format('truetype'),
}

@font-face {
  font-family: Borna;
  font-style: bold;
  font-weight: 600;
  src: url("../fonts/webfontkit/borna-semibold-webfont.ttf") format('truetype'),
}

@font-face {
  font-family: Borna;
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/webfontkit/borna-regularitalic-webfont.ttf") format('truetype'),
}

$font-family-reg: Borna, sans-serif;
$font-family-bold: Borna, sans-serif;


$primary: #393e46;
$secondary: #00adb5;
$light: #eee;
$dark: #222831;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "dark": $dark,
);

// Media queries

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

 // Rooting CARD component
 $card-height: 600px;

.card {
  --bs-card-height: $card-height;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
