/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */
 /*
 import Utilities
 */
 @import "utilities/mixins";

/**
 * Import variables
 */

@import "variables";
@import "root";

/**
 * Import npm dependencies
 * see: https://v2.parceljs.org/features/module-resolution/
 * see commented examples below
 */
 @import "../../../node_modules/bootstrap-scss/bootstrap.scss";
@import "~@zkreations/imagehover/scss/main.scss";


/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */
@import "layouts/home";
@import "layouts/about";
@import "layouts/blog";
@import "layouts/plays";
@import "layouts/header";
@import "layouts/footer";

/**
 * Do NOT include anything else in this file!
 */
